<div class="pos-f-t">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Multiclass Visualizations</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a <% if (menuId=="home") {%>class=" nav-link active"<%} else {%> class="nav-link"<%}%> href="/"> Home</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Static Vis
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/staticYear">Year</a>
                <a class="dropdown-item" href="/staticColor">Color</a>
                <a class="dropdown-item" href="/staticType">Type</a>
                <a class="dropdown-item" href="/staticBrand">Brand</a>
                <div class="dropdown-divider"></div>
                
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Swipe Vis
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/swipeYear">Year</a>
                <a class="dropdown-item" href="/swipeColor">Color</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Traslucent Overlay Vis
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/traslucentYear">Year</a>
                <a class="dropdown-item" href="/traslucentColor">Color</a>
              </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Magic Lense Vis
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/magicLenseYear">Year</a>
                  <a class="dropdown-item" href="/magicLenseColor">Color</a>

                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Juxtapose Vis
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/juxtaposeYear">Year</a>
                  <a class="dropdown-item" href="/juxtaposeColor">Color</a>
                </div>
            </li>
        </ul>
    </nav>
</div>
<br>
